---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import EpisodeListItem from "../../components/EpisodeListItem.astro";
import { generatePageTitle } from "../../utils/pageTitle";

const episodes = (await getCollection("episode")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const pageTitle = generatePageTitle("エピソード一覧");
const pageDescription = "ポッドキャスト「ITトリオの日常」のエピソード一覧ページです。";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={pageTitle} description={pageDescription} />
    <style>
      main {
        max-width: 960px;

        padding-top: calc(var(--header-height) + var(--page-top-padding));
        padding-right: 16px;
        padding-bottom: 40px;
        padding-left: 16px;

        @media (max-width: 720px) {
          padding-top: calc(var(--header-height-mobile) + var(--page-top-padding));
          padding-right: 16px;
          padding-bottom: 40px;
          padding-left: 16px;
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <link href="https://web-player.art19.com/assets/current.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <Header fixed />
    <main>
      <section>
        <ul>
          {
            episodes.map((episode) => (
              <li>
                <EpisodeListItem title={episode.data.title} href={`/episode/${episode.data.guid}/`} imageSrc={episode.data.image} date={episode.data.pubDate} description={episode.data.summary} season={episode.data.season} episodeNumber={episode.data.number} />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
