---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { generatePageTitle } from "../../utils/pageTitle";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const pageTitle = generatePageTitle("ブログ一覧");
const pageDescription = "ITトリオのブログ記事一覧です。";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={pageTitle} description={pageDescription} />
    <style>
      main {
        max-width: 960px;
        padding: 16px;
        width: 100%;
      }
      .entry-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px 8px;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      @media (max-width: 720px) {
        .entry-list {
          grid-template-columns: 1fr;
        }
      }

      .entry-image {
        border-radius: 12px;
      }

      ul li a {
        display: block;
      }
      .title {
        font-size: 1.5rem;
        margin: 0;
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul class="entry-list">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <img class="entry-image" width={720} height={360} src={post.data.heroImage} alt="" />
                  <h2 class="title">{post.data.title}</h2>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
