---
import { removeUnnecessaryNewLines } from "../utils/texts";

interface Props {
  title: string;
  href: string;
  imageSrc: string;
  date: Date;
  description: string;
  season: number;
  episodeNumber: number;
}

const { title, href, imageSrc, date, description, season, episodeNumber } = Astro.props;
---

<a href={href} class="container">
  <img class="image" width="150" height="150" src={imageSrc} alt=`${title}のサムネイル` />
  <div class="info">
    <p class="date">
      <time class="time" datetime={date.toISOString()}>
        {
          date.toLocaleDateString("ja-JP", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </time> / S{season}・EP{episodeNumber}
    </p>
    <p class="title">{title}</p>
    <p class="description">
      {removeUnnecessaryNewLines(description)}
    </p>
  </div>

  <style>
    .container {
      display: grid;
      grid-template-columns: 150px 1fr;
      gap: 16px;
      text-decoration: none;
      color: var(--text-primary);
      width: 100%;
      @media (max-width: 720px) {
        grid-template-columns: 60px 1fr;
      }
    }
    .image {
      border-radius: 4px;
      flex-shrink: 0;
      width: 100%;
      height: auto;
    }
    .info {
      flex-shrink: 1;
    }
    .date {
      display: block;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1;
      margin: 0;
    }
    .time {
      display: inline;
    }
    .title {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
    }
    .description {
      margin: 0;
      font-size: 1rem;
      line-height: 1.4;
      font-weight: 400;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  </style>
</a>
