---
import { Image } from "astro:assets";
import {
  SPOTIFY_SHOW_LINK,
  APPLE_PODCAST_SHOW_LINK,
  AMAZON_MUSIC_SHOW_LINK,
  YOUTUBE_MUSIC_SHOW_LINK,
  RSS_FEED_URL,
} from "../consts";

interface Props {
  hideRSS?: boolean;
}

const { hideRSS, ...props } = Astro.props;
---

<div class="list">
  <a class="item" href={SPOTIFY_SHOW_LINK} target="_blank">
    <Image
      class="image"
      src="/listen-on-spotify.png"
      width={660}
      height={160}
      alt="Listen on Spotify"
    />
  </a>

  <a class="item" href={AMAZON_MUSIC_SHOW_LINK} target="_blank">
    <Image
      class="image"
      src="/listen-on-amazon-music.png"
      width={1374}
      height={334}
      alt="Listen on Amazon Music"
    />
  </a>
  <a class="item" href={APPLE_PODCAST_SHOW_LINK} target="_blank">
    <Image
      class="image"
      src="/listen-on-apple-podcast.svg"
      width={129.155}
      height={41}
      alt="Listen on Apple Podcast"
    />
  </a>

  <a class="item" href={YOUTUBE_MUSIC_SHOW_LINK} target="_blank">
    <Image
      class="image"
      src="/listen-on-youtube-music.png"
      width={505}
      height={136}
      alt="Listen on YouTube Music"
    />
  </a>
  {
    !hideRSS && (
      <a class="item rss" href={RSS_FEED_URL} target="_blank">
        <Image
          class="image"
          src="/rss.png"
          width={256}
          height={256}
          alt="RSS Feed"
        />
      </a>
    )
  }
</div>

<style>
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0;
    padding: 0;
  }
  .item {
    width: 120px;
    @media (max-width: 720px) {
      width: 80px;
    }
  }
  .rss {
    display: block;
    width: 32px;
    height: 32px;
  }
  .image {
    display: block;
  }
</style>
