---
import { getCollection } from "astro:content";
import { POPULAR_EPISODE_GUID } from "../../consts";
import extractUUID from "../../utils/extractUUID";
import { removeUnnecessaryNewLines } from "../../utils/texts";

const episodes = await getCollection("episode");

const latestEpisode = episodes.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)[0];
const popularEpisode = episodes.find(
  (episode) => episode.data.guid === POPULAR_EPISODE_GUID,
);
---

<h2 class="head">最近のオススメ</h2>
<div class="container">
  {
    latestEpisode && (
      <a class="content" href={`/episode/${latestEpisode.data.guid}`}>
        <p class="title">{latestEpisode.data.title}</p>
        <img
          class="image"
          src={latestEpisode.data.image}
          alt={latestEpisode.data.title}
        />
        <p class="summary">
          {removeUnnecessaryNewLines(latestEpisode.data.summary)}
        </p>
      </a>
    )
  }
  {
    popularEpisode && (
      <a class="content" href={`/episode/${popularEpisode.data.guid}`}>
        <p class="title">{popularEpisode.data.title}</p>
        <img
          class="image"
          src={popularEpisode.data.image}
          alt={popularEpisode.data.title}
        />
        <p class="summary">
          {removeUnnecessaryNewLines(popularEpisode.data.summary)}
        </p>
      </a>
    )
  }
</div>
<p class="more">
  <a href="/episode">エピソードをもっとみる</a>
</p>

<style>
  .head {
    font-size: 1.5rem;
    font-weight: 700;
    /* text-align: center; */
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;

    @media (max-width: 1020px) {
      grid-template-columns: 1fr;
    }
  }

  .content {
    display: block;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    line-break: loose;
    margin-top: 12px;
  }
  .image {
    margin: 12px auto 0;
    width: 40%;
    display: block;
  }
  .summary {
    margin-top: 12px;
    font-size: 1rem;
  }
  .more {
    text-align: right;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--gray-light);
    color: var(--gray-light);
    margin-top: 12px;

    a {
      color: var(--gray-light);
    }
  }
</style>
