---
import { getCollection } from "astro:content";
import {
  POPULAR_EPISODE_GUID,
  POPULAR_EPISODE_GUID_2,
  POPULAR_EPISODE_GUID_3,
} from "../../consts";
import { removeUnnecessaryNewLines } from "../../utils/texts";

const episodes = await getCollection("episode");

const latestEpisode = episodes.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)[0];
const popularEpisode = episodes.find(
  (episode) => episode.data.guid === POPULAR_EPISODE_GUID,
);
const popularEpisode2 = episodes.find(
  (episode) => episode.data.guid === POPULAR_EPISODE_GUID_2,
);
const popularEpisode3 = episodes.find(
  (episode) => episode.data.guid === POPULAR_EPISODE_GUID_3,
);
---

<h2 class="head">最近のオススメ</h2>
<div class="container">
  {
    latestEpisode && (
      <a class="content" href={`/episode/${latestEpisode.data.guid}`}>
        <img
          class="image"
          src={latestEpisode.data.image}
          alt={latestEpisode.data.title}
        />
        <p class="title">{latestEpisode.data.title}</p>
      </a>
    )
  }
  {
    popularEpisode && (
      <a class="content" href={`/episode/${popularEpisode.data.guid}`}>
        <img
          class="image"
          src={popularEpisode.data.image}
          alt={popularEpisode.data.title}
        />
        <p class="title">{popularEpisode.data.title}</p>
      </a>
    )
  }
  {
    popularEpisode2 && (
      <a class="content" href={`/episode/${popularEpisode2.data.guid}`}>
        <img
          class="image"
          src={popularEpisode2.data.image}
          alt={popularEpisode2.data.title}
        />
        <p class="title">{popularEpisode2.data.title}</p>
      </a>
    )
  }
  {
    popularEpisode3 && (
      <a class="content" href={`/episode/${popularEpisode3.data.guid}`}>
        <img
          class="image"
          src={popularEpisode3.data.image}
          alt={popularEpisode3.data.title}
        />
        <p class="title">{popularEpisode3.data.title}</p>
      </a>
    )
  }
</div>
<p class="more">
  <a href="/episode">エピソードをもっとみる</a>
</p>

<style>
  .head {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;

    @media (max-width: 720px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .content {
    display: block;
  }

  .title {
    font-size: 1rem;
    line-height: 1.2;
    line-break: loose;
    margin-top: 12px;
  }
  .image {
    width: 100%;
    display: block;
  }
  .more {
    text-align: right;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--gray-light);
    color: var(--gray-light);
    margin-top: 12px;

    a {
      color: var(--gray-light);
    }
  }
</style>
