---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import stylesUrl from "../styles/blog.css?url";
import { generatePageTitle } from "../utils/pageTitle";
import ListenOn from "../components/ListenOn.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const pageTitle = generatePageTitle(title);
---

<html lang="ja">
  <head>
    <BaseHead title={pageTitle} description={description} />
    <link rel="preload" href={stylesUrl} as="style" />
    <link rel="stylesheet" href={stylesUrl} />
    <style>
      .please-listen {
        margin-top: 40px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <Header fixed />
    <main class="entry">
      <article class="entry-content">
        {heroImage && <img class="hero-image" width={1020} height={510} src={heroImage} alt="" />}
        <div>
          <div class="head">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 class="title">{title}</h1>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <div class="please-listen">
      <ListenOn hideRSS />
    </div>
    <Footer />
  </body>
</html>
