---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import extractUUID from "../utils/extractUUID.ts";

type Props = CollectionEntry<"episode">["data"];

const uuid = extractUUID(Astro.props.url);
const { title, description, pubDate, url } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
    <link
      href="https://web-player.art19.com/assets/current.css"
      media="screen"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      main {
        max-width: 960px;
        padding: 16px;
        width: 100%;
      }
      .player {
        display: grid;
        place-items: center;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .art19-web-player,
      div.art19-web-player {
        margin-bottom: 0;
      }
      .texts {
        max-width: 820px;
        margin: auto;
      }
      .date {
        text-align: center;
        color: rgb(var(--gray));
        margin-top: 12px;
        line-height: 1;
      }
      .title {
        text-align: center;
        line-height: 1.2;
        font-size: 1.5rem;
        margin-top: 12px;
      }
      .border {
        margin-top: 16px;
        margin-bottom: 16px;
      }
      .audio {
        margin: auto;
      }
      .description{
        font-size: 1rem;
        line-height: 1.4;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <article>
        <div class="player">
          {
            uuid !== null ? (
              <div
                class="art19-web-player awp-artwork awp-theme-dark-custom"
                data-episode-id={uuid}
                data-primary-color="#2fb9f4"
              />
            ) : (
              <>
                <div class="hero-image">
                  <img
                    src="/images/hero.jpg"
                    alt="The Art of Product Podcast"
                  />
                </div>
                <div>
                  <audio class="audio" src={url} controls />
                </div>
              </>
            )
          }
        </div>
      </article>
      <div class="texts">
        <div class="date">
          <FormattedDate date={pubDate} />
        </div>
        <h1 class="title">{title}</h1>
        <hr class="border" />
        <div>
          <p class="description">{description}</p>
        </div>
      </div>
    </main>
    <Footer />
    <script
      src="https://web-player.art19.com/assets/current.js"
      type="text/javascript"></script>
  </body>
</html>
